* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;

}

header {
    list-style-type: none;
    margin: 0;
    padding: 0;
}